pkgbase = osu-lazerious
	pkgdesc = The future of osu! and the beginning of an open era! Commonly known by the codename osu!lazer. Pew pew.
	pkgver = 2022.1117.0
	pkgrel = 1
	url = https://osu.ppy.sh
	arch = x86_64
	license = MIT
	license = custom:CC-BY-NC 4.0
	depends = ffmpeg
	depends = zlib
	depends = libgl
	depends = sdl2
	depends = fuse2
	provides = osu-lazer
	conflicts = osu-lazer
	noextract = osu-lazerious-2022.1117.0.AppImage
	options = !strip
	source = osu-lazerious-2022.1117.0.AppImage::https://github.com/ppy/osu/releases/download/2022.1117.0/osu.AppImage
	source = osu-lazerious.png::https://raw.githubusercontent.com/ppy/osu/master/assets/lazer.png
	source = osu-lazerious-LICENCE.md::https://raw.githubusercontent.com/ppy/osu-resources/master/LICENCE.md
	source = osu-lazerious.xml
	source = osu-lazerious.desktop
	sha256sums = dfde2cc68d334d4517f861f532b57561bfeb2b63ac2f2ba6b6dc7d1e0bd4ebdf
	sha256sums = 36f73cfe0a84cd65a8bb54fcde5a01c419b134bee4a88cc92eb4f33236343a10
	sha256sums = 30b914824784b6ba6b30a44b22bea4f3c6fbc10f3f0e74fde5ca76a92ef57244
	sha256sums = fa5c5ebf1546e855103db2f97721448cb60c3cdf85c370e266c8a6eb0094e1b5
	sha256sums = e068ca802b6ecde56d2e72b43830ed625f2a3f8d834a2d9ab3e84de6f4916d96

pkgname = osu-lazerious
