pkgbase = osu-lazerious
	pkgdesc = The future of osu! and the beginning of an open era! Commonly known by the codename osu!lazer. Pew pew.
	pkgver = 2022.528.0
	pkgrel = 1
	url = https://osu.ppy.sh
	arch = x86_64
	license = MIT
	license = custom:CC-BY-NC 4.0
	depends = ffmpeg
	depends = zlib
	depends = libgl
	depends = sdl2
	depends = fuse2
	provides = osu-lazer
	conflicts = osu-lazer
	noextract = osu-lazerious-2022.528.0.AppImage
	options = !strip
	source = osu-lazerious-2022.528.0.AppImage::https://github.com/ppy/osu/releases/download/2022.528.0/osu.AppImage
	source = osu-lazerious.png::https://raw.githubusercontent.com/ppy/osu/master/assets/lazer.png
	source = osu-lazerious-LICENCE.md::https://raw.githubusercontent.com/ppy/osu-resources/master/LICENCE.md
	source = osu-lazerious.xml
	source = osu-lazerious.desktop

pkgname = osu-lazerious
