pkgbase = osu-lazerious
	pkgdesc = The future of osu! and the beginning of an open era! Commonly known by the codename osu!lazer. Pew pew.
	pkgver = 2024.219.0
	pkgrel = 1
	url = https://osu.ppy.sh
	arch = x86_64
	license = MIT
	license = custom:CC-BY-NC 4.0
	depends = ffmpeg
	depends = zlib
	depends = libgl
	depends = sdl2
	depends = fuse2
	provides = osu-lazer
	conflicts = osu-lazer
	noextract = osu-lazerious-2024.219.0.AppImage
	options = !strip
	source = osu-lazerious-2024.219.0.AppImage::https://github.com/ppy/osu/releases/download/2024.219.0/osu.AppImage
	source = osu-lazerious.png::https://raw.githubusercontent.com/ppy/osu/master/assets/lazer.png
	source = osu-lazerious-LICENCE.md::https://raw.githubusercontent.com/ppy/osu-resources/master/LICENCE.md
	source = osu-lazerious.xml
	source = osu-lazerious.desktop
	sha256sums = 12a409a25cda8b42eb569604eb28db1145113625208bd2f0fa8b5d98a232a17a
	sha256sums = 3f574852464af31f21a9b24d5918668f990dfd7af32cc1218b7de9cdeab59155
	sha256sums = 30b914824784b6ba6b30a44b22bea4f3c6fbc10f3f0e74fde5ca76a92ef57244
	sha256sums = fa5c5ebf1546e855103db2f97721448cb60c3cdf85c370e266c8a6eb0094e1b5
	sha256sums = af516b1ba81aa2203d0655a2721d3bd71ea79ef976bb6008def2ae69a9efd3e8

pkgname = osu-lazerious
