[Desktop Entry]
Type=Application
Name=osu!lazer
Icon=osu-lazer
GenericName=Rhythm Game
Comment=Open source free-to-win rhythm game
Exec=osu-lazer
Categories=Game;
