[Desktop Entry]
Categories=Game;
Comment[en_US]=Open source free-to-win rhythm game
Comment=Open source free-to-win rhythm game
Exec=env DRI_PRIME=1 osu-lazer %F
GenericName[en_US]=Rhythm Game
GenericName=Rhythm Game
Icon=osu-lazer
MimeType=application/x-osu-storyboard;application/x-osu-skin-archive;application/x-osu-replay;application/x-osu-beatmap;
Name[en_US]=osu!lazer
Name=osu!lazer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
